@charset "utf-8";
/* CSS Document */

*, h1, h2, h3, h4, h5, h6 { padding:0px; margin:0px; font-weight:400;}

a, img a, img, a img {border:0;	outline:0; text-decoration:none;}

img, object, embed, video {max-width: 100%;}

/* Float Elements 
---------------------------------*/
.fl-lt {float:left;}
.fl-rt {float:right;}

/* only to clear floats - to be used with any class as addition */
.clear {
	clear: both;
}
/* clear float with blank <div>or <br>*/
.clrflt {
	clear:both;
	line-height:1px;
	font-size:1px;
	overflow: hidden;
}

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/* Primary Styles
---------------------------------*/
body {
	background:#676336;
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:normal;
	color:#414041;
	padding:0px;
	margin:0px;
}

.header_outer {
	background:#260700;
	text-align:center;
	}
	
.navigation {
	}
	
.navigation ul {
	list-style:none;
	padding:0px;
	margin:0px;
	text-align:center;
	}
	
.navigation li {
	background:url(/public/img/li_border1.png) right center no-repeat;
	display:inline;
	}
	
.no_bg {
	background:none !important;
	}
	
.navigation li a {
	display:inline-block;
	font-size:20px;
	font-weight:700;
	color:#fff;
	text-align:center;
	text-decoration:none;
	padding:25px 13px;
	}
	
.navigation li.current a {
	color:#efab00;
	}
	
.navigation li:hover a {
	color:#efab00;
	}
	
.header_menu{
	width:100px;
	height:30px;
	position:absolute;
	top:5px;
	right:10px;
	display:none
}

.header_menu a{
	color:#fff;
}

.menu_space{
	background:#fff;
	position:absolute;
	left:0px;
	top:30px;
	z-index:10000;
	display:none;
}

.menu_space ul{ display:block !important}

.menu_space ul li{ display:block !important}

.menu_space ul li a{ color:#000; padding:5px 13px; font-size:16px;}
	
.banner_bg {
	background:#dbd0a3;
	}
	
.banner {
	background:url(/public/img/img1.png) 31px 30px no-repeat;
	height:650px;
	position:relative;
	margin-bottom:-17px;
	z-index:1;
	}
	
.height {
	min-height:473px;
	}
	
a.banner_nav {
	margin-left:36px;
    text-align: center;
    text-decoration: none;
    width: 199px;
	}
	
.marginleft {
	margin-left:24px !important;
	}
	
a.banner_nav strong {
	display:block;
	font-weight:700;
	font-size:39px;
	color:#433100;
	padding:13px 0 20px;
	}
	
a.banner_nav small {
	display:block;
	font-size:10px;
	color:#433100;
	line-height:11px;
	}
	
a.banner_nav span {
	color:#401800;
	}
	
a.banner_nav em {
	font-style:normal;
	color:#354208;
	}
	
a.banner_nav p {
	color:#2a3d48;
	margin:0px;
	}
	
.logo {
	left: 98px;
    position: absolute;
    top: 30px;
	}
	
.sponsor_img {
	position:absolute;
	right:50px;
	top:36px;
	}
	
.news_cont {
	min-height:44px;
	background:#260700;
	position:relative;
	}
	
.update_text {
	position:relative;	
	color:#000;
	}
	
.news_cont h2 {
	font-size:28px;
	font-weight:700;
	color:#efab00;
	background:#260700;
	border-radius:10px;
	position:absolute;
	padding:10px 17px;
	bottom:-26px;
	left:53px;
	line-height:normal;
	}
	
.right {
	letter-spacing:11px;
	position:absolute;
	padding:10px 17px;
	bottom:0;
	right:432px;
	}
	
.news {
	background:#fff;
	padding:33px 32px 33px 39px;
	}
	
.news_update {
	height:280px;
	overflow:auto;
	padding:0 15px;
	position:relative;
	}
	
.news_update_cont {
	border-bottom:3px solid #260700;
	position:relative;
	}
	
.news_update_cont_img {
	margin:11px 22px;
	}
	
.news_update_cont h3 {
	font-size:15px;
	font-weight:700;
	color:#000;
	line-height: 19px;
    padding-top: 30px;
	}	
	
.news_update_cont p {
	line-height:normal;
	}
	
.news_update_cont span a {
	font-size:12px;
	color:#110b79;
	display:inline;
	position:absolute;
	right:10px;
	bottom:8px;
	}
	
.sponsors {
	background:#fff;
	padding:36px 25px 0 35px;
	}
	
.sponsors_image {
	left:30px;
    position:relative;
    top: 22px;
	z-index:1;
	}
	
.ie7 .sponsors_image {
	left:10px;
	position:relative;
    top: 22px;
	z-index:1;
	}

.sponsor_logo {
	padding:43px 0;
	}
	
.register_link {
	text-align:center;
	background:#dbd0a3;
	padding:22px 0px;
	}
	
.footer_outer {
	background:#260700;
	text-align:center;
	padding:11px 0;
	}
	
.footer ul {
	list-style:none;
	margin:0px;
	text-align:center;
	padding-top:14px;
	}
	
.footer li {
	display:inline;
	background:url(/public/img/li_border2.png) right center no-repeat;
	}
	
.footer li a {
	display:inline-block;
	font-size:15px;
	text-align:center;
	text-decoration:none;
	color:#fff;
	padding:0px 9px;
	}
	
.footer li a:hover {
	text-decoration:underline;
	}
	
.padding {
	padding:0 3px !important;}
	
.margin {
	margin-left:30px;
	}
	
.footer_text ul {
	list-style:none;
	margin:0px;
	padding:17px;
	}
	
.footer_text li {
	display:inline;
	font-size:14px;
	text-align:center;
	color:#fff;
	padding:0 6px;
	background:url(/public/img/li_border2.png) right center no-repeat;
	}
	
.footer_text li a {
	display:inline-block;
	font-size:14px;
	text-align:center;
	text-decoration:none;
	color:#fff;
	}
	
.footer_text li a:hover {
	text-decoration:underline;
	}
	
	
/*INNER PAGE-----
----------------------*/

.content {
	background:#dbd0a3;
	padding:0 69px;
	position:relative;
	}
	
.cont_top {
	text-align:right;
	padding:36px 0 25px 21px;
	}
	
.cartoon_img_box {
	margin:0px;
	}
	
.cartoon_img1 {
	left: 57px;
    position: absolute;
    top: 40px;
	}
	
.cartoon_img2 {
	left: 104px;
    position: absolute;
    top: 159px;
    z-index: 1;
	}
	
.cartoon_img3 {
	left: 46px;
    position: absolute;
    top: 184px;
    z-index: 1;
	}
	
.cartoon_img4 {
	left: 196px;
    position: absolute;
    top: 167px;
    z-index: 1;
	}
	
.cont_bottom {
	background:#fff;
	border-radius:30px 30px 0 0;
	border:6px solid #260700;
	border-bottom:none;
	position:relative;
	}
	
.cont_main h2 {
	font-size:67px;
	font-weight:700;
	color:#401800;
	background:#cb6d00;
	border-radius:30px;
	border:6px solid #260700;
	display:inline-block;
	padding:25px 70px 22px 37px;
	margin:4px;
	position:relative;
	line-height:34px;
	}
	
.ie7 .cont_main h2 {
	display:inline;	
	margin:4px 4px 0;
	}
	
.cont_main h3 {
	height:31px;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:24px;
	color:#fff;
	display:inline-block;
	background:#260700 url(/public/img/img11.png) right center no-repeat;
	padding:0 158px 0 25px;
	line-height:30px;
	margin-bottom:4px;
	}
	
.ie7 .cont_main h3 {
	display:inline;
	}
	
.calendar ul {
	list-style:none;
	}
	
.calendar li {
	display:block;
	font-size:15px;
	color:#25978a;
	padding:6px;
	border-top:1px solid #666666;
	/*border-bottom:1px solid #666666;*/
	}
	
.calendar li em {
	display:inline-block;
	font-style:normal;
	color:#1a1a1a;
	width:127px;
	}
	
.calendar li strong {
	display:inline-block;
	color:#25978a;
	width:57px;
	padding-left:50px;
	font-weight:400;
	}
	
.calendar li span {
	color:#000000;
	}
	
.sidebar {
	margin-top:35px;
	border-left:3px solid #8a8a8a;
	text-align:center;
	padding:0px 15px;
	font-family:"Arial Black", Gadget, sans-serif;
	}
	
.sidebar h2 {
	font-size:29px;
	color:#260700;
	text-transform:uppercase;
	font-weight:700;
	line-height:17px;
	}
	
.sidebar h3 {
	font-size:24px;
	color:#260700;
	font-weight:700;
	padding:19px 0 10px;
	}
	
.sidebar img {
	display:block;
	margin:0px auto;
	padding:11px 0px;
	}
	
.cartoon_cont {
	min-height:146px;
	position:relative;
	}
	
.cartoon {
	bottom: -24px;
    position: absolute;
    right: 9px;
	}


/*------INNER 2
--------------------*/

.speaker {
	padding:14px 0 0 39px;
	font-size:9px;
	color:#000;
	}
	
.speaker_cont {
	left:0;
    position: relative;
	top:0px;
	}
	
.ie7 .speaker_cont {
	left: -5px;
    position: relative;
	top:8px;
	}
	
.speaker img {
	border:4px solid #cb6d00;
	box-shadow:-4px 4px 0px #c6bebe;
	display:inline-block;
	position:relative;
	z-index:1;
	float:left;
	}
	
.speaker h4 {
	background: none repeat scroll 0 0 #401800;
    border-radius: 0 50px 50px 0;
    color: #FFFFFF;
    display:inline-block;
    font-size: 17px;
    font-weight: 700;
    margin:15px 0 0;
    padding:7px 42px 1px 9px;
	position:relative;
	box-shadow:-4px 4px 0px #c6bebe;
	}
	
.ie7 .speaker h4 {
	margin-left:-5px;
	display:inline;
	z-index:-1;
	margin-top:20px;
	}
	
.margin_top {
	margin-top:18px;
	}
	
.ie7 .margin_top {
	margin-top:12px;
	}
	
.speaker p {
	overflow:hidden;
    line-height: normal;
    padding: 8px 6px 0px;
    text-indent: 25px;
	}