<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<!--[if IE]><style type="text/css">.pie,.news_cont h2 {behavior:url(PIE.htc);}</style><![endif]-->
<link rel="stylesheet" type="text/css" href="/public/css/reset.css">
<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/public/css/style.css">
<link rel="stylesheet" type="text/css" href="/public/css/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" href="/public/css/responsive.css">

<script type="text/javascript" src="/public/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/public/js/respond.js"></script>


<!--[if IE 7]> <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]> <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]> <html class="ie9 oldie"> <![endif]-->

<title>Home</title>
</head>

<body>
	<div class="header_outer">
    	<div class="container">
        	<div class="navigation">
            	<ul>
                	<li class="current"><a href="/">Home</a></li>
                    <li><a href="/About">About</a></li>
                    <li><a href="/Speakers">Speakers</a></li>
                    <li><a href="/Venue">Venue</a></li>
                    <li><a href="/Schedule">Schedule</a></li>
                    <li class="no_bg"><a href="/Sponsors">Sponsors</a></li>
                </ul>
                	<div class="clear"></div>
                    <div class="header_menu">
                        <a href="#" id="click"><span><img src="/public/img/header_menu-arrow.png" alt="" /></span><strong>MENU</strong></a>
                    </div>
                    <div class="menu_space">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Matrix Create</a></li>
                        </ul>
                    <div class="clear"></div>
                    </div>
            </div>
        </div>
    </div>
    
    
    <div class="container">
    	<div class="banner_bg">
        	<div class="banner">
            	<div class="logo"><a href="#"><img src="/public/img/logo.png" alt=""></a></div>
        		<div class="sponsor_img"><img src="/public/img/img2.png" alt=""></div>
        	<div class="height"></div>
            	<a href="#" class="banner_nav pull-left">
                    <img src="/public/img/img3.png" alt="">
                    <strong>About</strong>
                    <small>
                        GopherCon is a conference for Go developers...
                    </small>
                </a>
                
                <a href="#" class="banner_nav pull-left marginleft">
                    <img src="/public/img/img4.png" alt="">
                    <strong><span>Speakers</span></strong>
                    <small>
                        <span>
                        	We have some amazing speakers lined up.
                        </span>
                    </small>
                </a>
                
                <a href="#" class="banner_nav pull-left marginleft">
                    <img src="/public/img/img5.png" alt="">
                    <strong><em>Venue</em></strong>
                    <small>
                        <em>
                        	Denver, Colorado in the spring.
                        </em>
                    </small>
                </a>
                
                <a href="#" class="banner_nav pull-left marginleft">
                    <img src="/public/img/img6.png" alt="">
                    <strong><p>Sponsors</p></strong>
                    <small>
                        <p>
                        	Take a look at the companies who are sponsoring this event.
                        </p>
                    </small>
                </a>
                	<div class="clear"></div>
       		</div>
        </div>
    
    
    	<div class="news_cont">
            	<h2>Content For Updates</h2>
        </div>
    
    	<div class="news">
        	<div class="news_update">
            	<div class="news_update_cont">
                	<div class="news_update_cont_img pull-left"><img src="/public/img/img7.png" alt=""></div>
                    <h3>Example News</h3>
                    <p>Small summary of the news please indicate here. Small summary of the news please indicate here....</p>
                    <span><a href="#">View</a></span>
                    	<div class="clear"></div>
                </div>
                
                <div class="news_update_cont">
                	<div class="news_update_cont_img pull-left"><img src="/public/img/img7.png" alt=""></div>
                    <h3>Example News</h3>
                    <p>Small summary of the news please indicate here. Small summary of the news please indicate here....</p>
                    <span><a href="#">View</a></span>
                    	<div class="clear"></div>
                </div>
                
                <div class="news_update_cont">
                	<div class="news_update_cont_img pull-left"><img src="/public/img/img7.png" alt=""></div>
                    <h3>Example News</h3>
                    <p>Small summary of the news please indicate here. Small summary of the news please indicate here....</p>
                    <span><a href="#">View</a></span>
                    	<div class="clear"></div>
                </div>
                
                <div class="news_update_cont">
                	<div class="news_update_cont_img pull-left"><img src="/public/img/img7.png" alt=""></div>
                    <h3>Example News</h3>
                    <p>Small summary of the news please indicate here. Small summary of the news please indicate here....</p>
                    <span><a href="#">View</a></span>
                    	<div class="clear"></div>
                </div>
                
                <div class="news_update_cont">
                	<div class="news_update_cont_img pull-left"><img src="/public/img/img7.png" alt=""></div>
                    <h3>Example News</h3>
                    <p>Small summary of the news please indicate here. Small summary of the news please indicate here....</p>
                    <span><a href="#">View</a></span>
                    	<div class="clear"></div>
                </div>
                
                <div class="news_update_cont">
                	<div class="news_update_cont_img pull-left"><img src="/public/img/img7.png" alt=""></div>
                    <h3>Example News</h3>
                    <p>Small summary of the news please indicate here. Small summary of the news please indicate here....</p>
                    <span><a href="#">View</a></span>
                    	<div class="clear"></div>
                </div>
                
                <div class="news_update_cont">
                	<div class="news_update_cont_img pull-left"><img src="/public/img/img7.png" alt=""></div>
                    <h3>Example News</h3>
                    <p>Small summary of the news please indicate here. Small summary of the news please indicate here....</p>
                    <span><a href="#">View</a></span>
                    	<div class="clear"></div>
                </div>
                
                <div class="news_update_cont">
                	<div class="news_update_cont_img pull-left"><img src="/public/img/img7.png" alt=""></div>
                    <h3>Example News</h3>
                    <p>Small summary of the news please indicate here. Small summary of the news please indicate here....</p>
                    <span><a href="#">View</a></span>
                    	<div class="clear"></div>
                </div>
            </div>
        </div>
    
    
    	<div class="news_cont">
        	<div class="right">
            	<h2>SPONSORS</h2>
            </div>
        </div>
    
    	<div class="sponsors">
        	<div class="row">
                <div class="span4 pull-left">
                    <div class="sponsors_image"><img src="/public/img/img8.png" alt=""></div>
                </div>
                
                <div class="span7 pull-right">
                	<div class="sponsor_logo"><img src="/public/img/img9.png" alt=""></div>
                </div>
            </div>
        </div>
    
    
    	<div class="news_cont"></div>
    
    	<div class="register_link">
        	<a href="#"><img src="/public/img/img10.png" alt=""></a>
        </div>
    </div>
    
    <div class="footer_outer">
    	<div class="container">
        	<div class="footer">
            	<ul>
                	<li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Speakers</a></li>
                    <li><a href="#">Sponsors</a></li>
                    <li class="no_bg"><a href="#">Venue</a></li>
                    <li class="no_bg margin"><a href="#" class="padding"><img src="/public/img/mail_icon.png" alt=""></a></li>
                    <li class="no_bg"><a href="#" class="padding"><img src="/public/img/facebook_icon.png" alt=""></a></li>
                    <li class="no_bg"><a href="#" class="padding"><img src="/public/img/twitter_icon.png" alt=""></a></li>
                    <li class="no_bg"><a href="#" class="padding"><img src="/public/img/youtube_icon.png" alt=""></a></li>
                </ul>
            </div>
            
            <div class="footer_text">
            	<ul>
                	<li>© GopherCon 2013.  All rights reserved. Conditions of use</li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li class="no_bg"><a href="#">Review this business</a></li>
                </ul>
            </div>
        </div>
    </div>
    
<script type="text/javascript">
	$(window).load(function() {
		   $('#click').click(function(){
		   $('.menu_space').slideToggle();
		   return false;
   		   });
	   });
	</script>
</body>
</html>
