/* 
* Skeleton V1.0.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 5/20/2011
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Tabs
	#Forms
	#Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1.5; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }
		
		
/* #Basic Styles
================================================== */
	body { 
		background: #f9f9f9;
		font: 14px/1.5 'Droid Serif', Georgia, Times, serif;
		color: #555; 
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: none;
 }
	

/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 { 
		color: #181818; 
		font-family: Prociono, Georgia, Times, serif;
		font-weight: normal; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; color: #333; font-family: Prociono, Georgia, serif; }
	h1 { font-size: 46px; line-height: 50px; margin-bottom: 25px;}
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 20px; }
	h3 { font-size: 28px; line-height: 34px; margin-bottom: 15px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 10px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader { color: #777; }

	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }
	
	em { font-style: italic; }
	strong { font-weight: bold; color: #333; }
	small { font-size: 80%; }
	
/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }
	
	/* Pull Quotes */
	.quoteLeft {
	    border-left: none;
	    border-right: 1px solid #DDDDDD;
	    float: left;
	    margin-right: 20px;
	    padding-left: 0;
	    padding-right: 0;
	    width: 300px;
	}
	
	.quoteRight {
	    border-right: none;
	    border-left: 1px solid #DDDDDD;
	    float: right;
	    margin-left: 20px;
	    padding-left: 20px;
	    padding-right: 0;
	    width: 300px;
	}
	
	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }
	
pre,
code {
    clear: both;
    margin: 0px 50px 20px;
    overflow: auto;
    padding: 10px;
    white-space: pre;
    background: #f5f5f5;
    font: 13px/1.5 'Droid Sans', Helvetica, Arial, sans-serif;
}

/* Dropcaps */
.dropcap {
    display: block;
    float: left;
    font-size: 40px;
    line-height: 30px;
    margin: 10px 10px 0 0;
}
	
/* Headings */

.heading {
	background: url('../../images/heading-bg-light.png') left repeat-x;
	font-size: 18px;
	font-style: italic;
	font-weight: normal;
}

	.heading span {
		background: #fff;
		padding-right: 10px;
	}
	
.heading-bg-less {
	font-size: 18px;
	font-style: italic;
	font-weight: normal;
}
	
.small {
	font-size: 12px;
	font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}

.em-medium {
	font-size: 18px;
	font-style: italic;
}

.em-large {
	font-size: 24px;
	font-style: italic;
}

/* Text Selection */

::selection {
	background: #153450; /* Safari */
	color: #fff;
}
::-moz-selection {
	background: #153450; /* Firefox */
	color: #fff;
}



/* #Links
================================================== */
	a { color: #333; outline: 0; text-decoration: none; }
	a:hover, a:focus { color: #153450; }
	p a, p a:visited { line-height: inherit; }
	

/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 1.5; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 1.5; }
	
	.post-entry ul {
		list-style-type: disc;
	    margin-left: 25px;
	}

	.check,
	.calendar,
	.user {
		list-style: none;
		padding: 0;
	}
		
		.check li {
			margin-bottom: 20px;
			padding-left: 24px;
			background: url("../../images/icon-check.png") no-repeat scroll 0px 5px transparent;
		}
		
		.user li {
			margin-bottom: 20px;
			padding-left: 24px;
			background: url("../../images/icon-user.png") no-repeat scroll 0px 5px transparent;
		}
		
		.calendar li {
			margin-bottom: 20px;
			padding-left: 28px;
			background: url("../../images/icon-calendar.png") no-repeat scroll 0px 5px transparent;
		}
	
/* #Images
================================================== */
/*
	The purpose of the below declaration is to make sure images don't 
	exceed the width of columns they are put into when resizing window. 
	Unfortunately, this declaration breaks certain lightbox, slider or other plugins,
	so the best solution is to individually call these properties on images that 
	are children of the grid that you want to resize with grid. 

	img { 
		max-width: 100%;
		height: auto; }
		
*/


/* #Buttons
================================================== */
	
	a.button, 
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		background: #eee; /* Old browsers */
		background: -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
	  border: 1px solid #aaa;
	  border-top: 1px solid #ccc;
	  border-left: 1px solid #ccc;
	  padding: 4px 12px;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;
	  color: #444;
	  display: inline-block;
	  font-size: 11px;
	  font-weight: bold;
	  text-decoration: none;
	  text-shadow: 0 1px rgba(255, 255, 255, .75);
	  cursor: pointer;
	  margin-bottom: 20px;
	  line-height: 21px;
	  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }
	  
	a.button:hover, 
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		color: #fff;
		background: #153450; /* Old browsers */
		background: -moz-linear-gradient(top,  #f68d82 0%, #153450 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f68d82), color-stop(100%,#153450)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #f68d82 0%,#153450 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #f68d82 0%,#153450 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #f68d82 0%,#153450 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #f68d82 0%,#153450 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f68d82', endColorstr='#153450',GradientType=0 ); /* IE6-9 */
	border: 1px solid #153450;
	border-top: 1px solid #eb6355;
	border-left: 1px solid #eb6355;
	text-shadow: 0 1px 0 #eb5545; }
	  
	a.button:active, 
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
    background: #eee; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,0,0,.3) 0%, rgba(255,255,255,.3) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,.3)), color-stop(100%,rgba(255,255,255,.3))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,.3) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,.3) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,.3) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,.3) 100%); /* W3C */
    border: 1px solid #888;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa; }
	
	.button.full-width, 
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width { 
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }
		
/* Buton Colors */
a.button.orange,button.orange,input[type="submit"].orange,input[type="reset"].orange,input[type="button"].orange{-moz-box-shadow:inset 0px 1px 0px 0px #fed897;-webkit-box-shadow:inset 0px 1px 0px 0px #fed897;box-shadow:inset 0px 1px 0px 0px #fed897;background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#f6b33d),color-stop(1,#d29105) );background:-moz-linear-gradient( center top,#f6b33d 5%,#d29105 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6b33d',endColorstr='#d29105');background-color:#f6b33d;border:1px solid #eda933;color:#fff;text-shadow:1px 1px 0px #cd8a15}a.button.orange:hover,button.orange:hover,input[type="submit"].orange:hover,input[type="reset"].orange:hover,input[type="button"].orange:hover{background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#d29105),color-stop(1,#f6b33d) );background:-moz-linear-gradient( center top,#d29105 5%,#f6b33d 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d29105',endColorstr='#f6b33d');background-color:#d29105}a.button.blue,button.blue,input[type="submit"].blue,input[type="reset"].blue,input[type="button"].blue{-moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;-webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;box-shadow:inset 0px 1px 0px 0px #cae3fc;background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#79bbff),color-stop(1,#4197ee) );background:-moz-linear-gradient( center top,#79bbff 5%,#4197ee 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff',endColorstr='#4197ee');background-color:#79bbff;border:1px solid #469df5;color:#fff;text-shadow:1px 1px 0px #287ace}a.button.blue:hover,button.blue:hover,input[type="submit"].blue:hover,input[type="reset"].blue:hover,input[type="button"].blue:hover{background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#4197ee),color-stop(1,#79bbff) );background:-moz-linear-gradient( center top,#4197ee 5%,#79bbff 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee',endColorstr='#79bbff');background-color:#4197ee}a.button.green,button.green,input[type="submit"].green,input[type="reset"].green,input[type="button"].green{-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;box-shadow:inset 0px 1px 0px 0px #c1ed9c;background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#9dce2c),color-stop(1,#8cb82b) );background:-moz-linear-gradient( center top,#9dce2c 5%,#8cb82b 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c',endColorstr='#8cb82b');background-color:#9dce2c;border:1px solid #83c41a;color:#fff;text-shadow:1px 1px 0px #689324}a.button.green:hover,button.green:hover,input[type="submit"].green:hover,input[type="reset"].green:hover,input[type="button"].green:hover{background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#8cb82b),color-stop(1,#9dce2c) );background:-moz-linear-gradient( center top,#8cb82b 5%,#9dce2c 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b',endColorstr='#9dce2c');background-color:#8cb82b}a.button.red,button.red,input[type="submit"].red,input[type="reset"].red,input[type="button"].red{-moz-box-shadow:inset 0px 1px 0px 0px #fab3ad;-webkit-box-shadow:inset 0px 1px 0px 0px #fab3ad;box-shadow:inset 0px 1px 0px 0px #fab3ad;background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#fa665a),color-stop(1,#d34639) );background:-moz-linear-gradient( center top,#fa665a 5%,#d34639 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa665a',endColorstr='#d34639');background-color:#fa665a;border:1px solid #d83526;color:#fff;text-shadow:1px 1px 0px #98231a}a.button.red:hover,button.red:hover,input[type="submit"].red:hover,input[type="reset"].red:hover,input[type="button"].red:hover{background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#d34639),color-stop(1,#fa665a) );background:-moz-linear-gradient( center top,#d34639 5%,#fa665a 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d34639',endColorstr='#fa665a');background-color:#d34639}a.button.white,button.white,input[type="submit"].white,input[type="reset"].white,input[type="button"].white{-moz-box-shadow:inset 0px 1px 0px 0px #fff;-webkit-box-shadow:inset 0px 1px 0px 0px #fff;box-shadow:inset 0px 1px 0px 0px #fff;background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#fff),color-stop(1,#f6f6f6) );background:-moz-linear-gradient( center top,#fff 5%,#f6f6f6 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff',endColorstr='#f6f6f6');background-color:#fff;border:1px solid #dcdcdc;color:#666;text-shadow:1px 1px 0px #fff}a.button.white:hover,button.white:hover,input[type="submit"].white:hover,input[type="reset"].white:hover,input[type="button"].white:hover{background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#f6f6f6),color-stop(1,#fff) );background:-moz-linear-gradient( center top,#f6f6f6 5%,#fff 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6',endColorstr='#fff');background-color:#f6f6f6}a.button.purple,button.purple,input[type="submit"].purple,input[type="reset"].purple,input[type="button"].purple{-moz-box-shadow:inset 0px 1px 0px 0px #efdcfb;-webkit-box-shadow:inset 0px 1px 0px 0px #efdcfb;box-shadow:inset 0px 1px 0px 0px #efdcfb;background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#dfbdfa),color-stop(1,#bc80ea) );background:-moz-linear-gradient( center top,#dfbdfa 5%,#bc80ea 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfbdfa',endColorstr='#bc80ea');background-color:#dfbdfa;border:1px solid #c584f3;color:#fff;text-shadow:1px 1px 0px #9752cc}a.button.purple:hover,button.purple:hover,input[type="submit"].purple:hover,input[type="reset"].purple:hover,input[type="button"].purple:hover{background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#bc80ea),color-stop(1,#dfbdfa) );background:-moz-linear-gradient( center top,#bc80ea 5%,#dfbdfa 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc80ea',endColorstr='#dfbdfa');background-color:#bc80ea}a.button.yellow,button.yellow,input[type="submit"].yellow,input[type="reset"].yellow,input[type="button"].yellow{-moz-box-shadow:inset 0px 1px 0px 0px #fcf8f2;-webkit-box-shadow:inset 0px 1px 0px 0px #fcf8f2;box-shadow:inset 0px 1px 0px 0px #fcf8f2;background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#fae4bd),color-stop(1,#eac380) );background:-moz-linear-gradient( center top,#fae4bd 5%,#eac380 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fae4bd',endColorstr='#eac380');background-color:#fae4bd;border:1px solid #eeb44f;color:#fff;text-shadow:1px 1px 0px #cc9f52}a.button.yellow:hover,button.yellow:hover,input[type="submit"].yellow:hover,input[type="reset"].yellow:hover,input[type="button"].yellow:hover{background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#eac380),color-stop(1,#fae4bd) );background:-moz-linear-gradient( center top,#eac380 5%,#fae4bd 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eac380',endColorstr='#fae4bd');background-color:#eac380}

	
			
/* #Forms
================================================== */

	form { 
		margin-bottom: 20px; }
	fieldset { 
		margin-bottom: 20px; }
	input[type="text"], 
	input[type="password"],
	input[type="email"],
	textarea, 
	select {
		border: 1px solid #ccc;
		padding: 6px 4px;
		outline: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #777;
		margin: 0;
		width: 210px;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fff; }
	select { 
		padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus, 
	textarea:focus {
		border: 1px solid #aaa;
 		color: #444;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }
	textarea {
		min-height: 60px; }
	label,
	legend { 
		display: block;
		font-weight: bold;
		font-size: 13px;  }
	select { 
		width: 220px; }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }
		
/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }

		
	/* COLLUMSN */
	
	.one_half,
	.one_third,
	.one_fourth,
	.two_thirds,
	.three_fourth {
		float: left;
		margin-right: 4%;
		position: relative;
		overflow: auto;
	}
	
	.last { margin-right: 0 !important; }
	.first { margin-left: 0 !important; }
	
	.one_half {	width: 48%; }
	.one_third { width: 30.66%; }
	.one_fourth { width: 22%; }
	.two_thirds { width: 65.34%; }
	.three_fourth { width: 74%; }

	/* Alignments */	
	.center{ text-align: center; }
	.center form{ margin: 0 auto; text-align: center; }
	.left{ float: left; margin-right: 20px; }
	.right{ float: right; margin-left: 20px; }
	
	/* Clear/dividers */
	.clearDivider {	clear:both;	display:block; overflow:hidden;	height:1px;	margin: 0px auto 30px; padding-top: 30px; }
	.dotDivider { clear:both; display:block; overflow:hidden; height:4px; margin: 0px auto 30px; background: url('../../images/border-horizontal-dots.gif') repeat-x; border-top: 30px solid transparent; }
	.lineDivider { clear:both; display:block; overflow:hidden; height:4px; margin: 0px auto 30px; background: url('../../images/line-shadowed.gif') repeat-x; border-top: 30px solid transparent; }
	
	/* Alerts */
	.alert{ border-radius:5px 5px 5px 5px; height:100%; line-height:1.5; margin:10px auto; padding:15px 15px 15px 35px}
	.message{ background:url("images/icon-message.png") no-repeat scroll 10px 15px #FFF; border:1px solid #DDD}
	.note{ background:url("images/icon-note.png") no-repeat scroll 10px 15px #FDEBAE; border:1px solid #E5C455; color:#A5660B}
	.info{ background:url("images/icon-info.png") no-repeat scroll 10px 15px #BFE4F9; border:1px solid #68A2CF; color:#2E6093}
	.success{ background:url("images/icon-success.png") no-repeat scroll 10px 15px #DEE3AB; border:1px solid #A3C159; color:#5D6F33}
	.warning{ background:url("images/icon-x.png") no-repeat scroll 10px 15px #FCC; border:1px solid #F99; color:#C31A24}
